{% extends "base.html" %}
{% block title %}Технологии{% endblock title %}
{% block content %}
  <h1>Технологии</h1>
  <ul>
    <li>Django 2.2.16</li>
    <li>ООП</li>
    <li>Python 3.9</li>
    <li>sqlite3</li>
    <li>HTML</li>
    <li>Mixer 7.1.2</li>
    <li>Pillow 8.3.1</li>
    <li>pytest 6.2.4</li>
    <li>pytest-django 4.4.0</li>
    <li>pytest-pythonpath 0.7.3</li>
    <li>requests 2.26.0</li>
    <li>six 1.16.0</li>
    <li>sorl-thumbnail 12.7.0</li>
    <li>Faker 12.0.1</li>
  </ul>
{% endblock content %}